---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Cincinnati Developers">
	<main>
		<h1 class='font-bold text-2xl'>Cincinnati Developers</h1>
		<p>The premiere meetup for software developers in Cincinnati, Ohio!</p>
		<div class='flex items-center gap-2'>
			<a href="https://cincinnatiDevelopers.eventbrite.com">
				<img class='w-12 h-12 rounded-lg mt-2' src="/assets/eventBright.png" alt="Event Bright" />
			</a>
			<a href="https://forms.gle/DZUVdHykbMjGRYDSA">Submit a talk</a>
		</div>
	</main>
</Layout>
