---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Cincinnati Developers">
	<main>
		<h1 class='font-bold text-2xl'>Cincinnati Developers</h1>
	</main>
</Layout>
